<app-titulo [p_titulo_componente]="p_titulo_avaliacao"></app-titulo>
<hr>
<div class="container">
    <form [formGroup]="frmAvaliacao" (ngSubmit)="EnviarAvaliacao()">

        <div class="form-group col-md-4">
            <!-- MES ANO -->
            <mat-form-field appearance="outline">
                <mat-label>Month and Year</mat-label>
                <input matInput [matDatepicker]="dp" [formControl]="date">
                <mat-hint>MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                    panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-group col-md-4">
            <!-- CLIENTES AVALIADOS -->
            <mat-form-field appearance="outline" style="width: 500px;">
                <mat-label>Clientes</mat-label>
                <mat-select [formControl]="frmclientes" [(value)]="selectedClientes" multiple>
                    <mat-option *ngFor="let clienteItem of clientesAvaliados"
                        [value]="clienteItem">{{clienteItem.razaoSocial}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p>
            {{selectedClientes | json}}
            </p>
        </div>

        <!-- NOTA AVALIACAO -->
        <div class="form-group col-md-4">
            <label for="lblNotaAval" class="for">Nota de Avaliação</label>
            <input type="number" class="form-control" formControlName="notaAvaliacao" min="0" max="10"
                [ngClass]="{'is-invalid':p_submitted && frmAvaliacao.controls['notaAvaliacao'].errors}">

            <div *ngIf="p_submitted && frmAvaliacao.controls['notaAvaliacao'].errors" class="text-danger">

                <div *ngIf="p_submitted && frmAvaliacao.controls['notaAvaliacao'].errors['required']">
                    [Nota de Avaliação] é obrigatório
                </div>
            </div>
        </div>

        <!-- MOTIVO AVALIACAO -->
        <br>

        <mat-form-field appearance="outline" style="width: 450px;">
            <textarea matInput placeholder="Descrição do motivo da avaliação" formControlName="motivoAvaliacao"
                cdkTextareaAutosize [cdkAutosizeMinRows]="4" [cdkAutosizeMaxRows]="10"
                [ngClass]="{'is-invalid':p_submitted && frmAvaliacao.controls['motivoAvaliacao'].errors}">

                <div *ngIf="p_submitted && frmCliente.controls['motivoAvaliacao'].errors" class="text-danger">
    
                    <div *ngIf="p_submitted && frmCliente.controls['motivoAvaliacao'].errors['required']">
                        [Motivo] é obrigatório
                    </div>
                    <div *ngIf="p_submitted && frmCliente.controls['motivoAvaliacao'].errors['minlength']">
                        [Motivo] deve ter no mínimo 10 caracteres !
                    </div>
    
                </div>

            </textarea>
        </mat-form-field>

        <div class="form-group">
            <hr>
            <div style="float:left">
                <!-- I USE FORMS VALIDATIONS -->
                <button type="submit" class="btn btn-success">Gravar</button>
            </div>
        </div>
    </form>
</div>